# Introdução

**Heart Disease Dataset**

O tema do nosso trabalho é sobre o dataset **Heart Disease Dataset** do ano de 1988 que tem quatro bancos de dados: **Cleveland, Hungria, Suíça e Long Beach V**.  

A base de dados do dataset é relacionada a dados experimentais com pacientes sobre doença cardíaca. Ele contém 76 atributos, porém todos os experimentos publicados são referentes ao subconjunto de 14 deles, todos do banco de dados **Cleveland**, os quais vamos analisar.  

O campo "target" do dataset é referente à presença de cardiopatia no paciente. Este campo pode ter o valor 0 (zero) ou 1 (um), sendo que o valor 0 (zero) é para pacientes que não tem a doença de cardiopatia e 1, para quem tem a doença de cardiopatia.  

O dataset usado foi exttraído do site **Gaggle** <https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset?resource=download&select=heart.csv>, que é um site que disponibiliza vários dataset, porém existe vários sites que publicam o mesmo dataset, como por exempo o site **UC Irvine Machine Learning Repository** <https://archive.ics.uci.edu/dataset/45/heart+disease>.

## Contextualização

* Base de dados experimentais com pacientes sobre doença cardíaca

* em 4 bancos de dados:  Cleveland, Hungria, Suíça e Long Beach V

* Iremos analisar o banco de dados de Cleveland (experimentos publicados)

## Origem dos dados

O é de Dataset de 1988.  
O repositório não indica quem fez a pesquisa nem os motivos da realização da pesquisa.

## Composição dos dados

O dataset a ser analisado possui 1025 observações e 14 variáveis:  
* 13 variáveis do tipo “int64”: age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, slope, ca, thal e target; e
* 1 variável do tipo “float64”: “oldpeak”.  

O dataset total possui 76 atributos.  
Todos experimentos publicados são ref. a um subset com 14 variáveis (banco de dados Cleveland).  
A lista das variáveis que descrevemos abaixo, são referentes aos exames realizados nos pacientes e referentes ao estado de saúde deles:  
1. **age**: idade em anos;  
2. **sex**: sexo (1 = masculino, 0 = feminino);  
3. **cp**: tipo de dor no peito:  
    -- 1: angina típica  
    -- 2: angina atípica  
    -- 3: dor não anginosa  
    -- 4: assintomático  
4. **trestbps**: pressão arterial em repouso (em mm Hg na admissão ao hospital);
5. **chol**: colesterol sérico em mg/dl;  
6. **fbs**: glicemia em jejum > 120 mg/dl: 1 = verdadeiro, 0 = falso;  
7. **restecg**: resultados eletrocardiográficos em repouso:  
    -- 0: normal  
    -- 1: com anormalidade da onda ST-T (inversões da onda T e/ou elevação ou depressão do segmento ST > 0,05 mV)  
    -- 2: mostrando hipertrofia ventricular esquerda provável ou definitiva pelos critérios de Estes  
8. **thalach**: frequência cardíaca máxima alcançada;  
9. **exang**: angina induzida por exercício (1 = sim; 0 = não);  
10. **oldpeak**: depressão de ST (ECG) induzida por exercício em relação ao repouso;  
11. **slope**: a inclinação do pico do segmento ST do exercício:  
    -- 1: ascendente  
    -- 2: plano  
    -- 3: descendente  
12. **ca**: número de vasos principais (0-3) coloridos por fluoroscopia;  
13. **thal**: talassemia cardíaca:  
    -- 0 = normal  
    -- 1 = defeito corrigido  
    -- 2 = defeito reversível  
14. **target**: presença de doença cardíaca no paciente:  
    -- 0 = sem doença  
    -- 1 = doença

# Etapa 1: Perguntar - Definir as questões

Nesta etapa as seguintes perguntas foram elaboradas para serem respondidas a partir dos dados escolhidose que podessem ser respondidas utilizando:  
	a. Teste de hipóteses;  
	b. Aprendizado de máquina supervisionado;  
	c. Aprendizado de máquina não supervisionado.  

**Questão 1**: Como a dor no peito está relacionada com doenças cardíacas e quem é mais propenso a ter?  

**Questão 2**: Quais as características dos pacientes que possam ter doenças cardíacas?  

**Questão 3**: É possível identificar grupos de pacientes com perfis semelhantes?

# Etapa 2: Preparar - Coletar os dados

**Site do dataset**

Heart Disease Dataset: https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset?resource=download&select=heart.csv

## Importando bibliotecas e dados

In [23]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
# carregar o drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
# ler arquivo csv
df = pd.read_csv('/content/drive/MyDrive/datasets/heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

## Detalhes das variáveis (colunas)

In [30]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [31]:
df.columns  # list of columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [32]:
df.info()   # non-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

**Tipos de variáveis**  
Das 14 variáveis: apenas uma é do tipo float e o restante é do tipo inteiro.

# Etapa 3: Processar - Limpar os dados

## Carregando os dados

In [33]:
df.isnull().sum()   # sum of the values null

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

**Obs.**: o dataframe não tem valores nulos.

# Etapa 4: Analisar os dados

In [34]:
df.describe()   # numeric variables

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [35]:
# quantidade de linhas e colunas
df.shape

(1025, 14)

O dataset tem 1025 linhas e 14 colunas

## Questão 1 - Análises

**Como a dor no peito está relacionada com doenças cardíacas e quem é mais propenso a ter?**

In [ ]:
# fazer suas análises aqui

## Questão 2 - Anaílises

**Quais as características dos pacientes que possam ter doenças cardíacas?**

In [ ]:
# fazer suas análises aqui

## Questão 3 - Análises

**É possível identificar grupos de pacientes com perfis semelhantes?**

In [ ]:
# fazer suas análises aqui

# Etapa 5: Compartilhar os resultados (insights)

1) <conclusõe da questão 1 aqui>

2) <conclusõe da questão 2 aqui>

3) <conclusõe da questão 3 aqui>